<footer class="footer">
    <div class="container">
      <div>
        <h3>FinEdge</h3>
        <p>
          This is a demo website built for practice.<br>
          I have referred <a href="https://www.5paisa.com/finschool/what-are-cross-border-payments-and-how-it-is-getting-revolutionised/#:~:text=FinTechs%20have%20revolutionised%20the%20cross,fees%2C%20and%20reduced%20transaction%20times."> this website</a>
          for the content<br>about 
          cross-border payments.

        </p>
      </div>
      <div>
        <h3>Links</h3>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/services">Services</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </footer>
  
  <style>
    .footer {
      background: var(--color-primary);
      color: #fff;
      text-align: center;
      padding: 20px;
      margin-top: 60px;
    }
  
    .footer .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .footer a {
      color: #5e96e3;
    }
  
    .footer a:hover {
      text-decoration: underline;
    }
  
    .footer h3 {
      margin-bottom: 10px;
    }
  
    .footer div:nth-child(1) {
      text-align: left;
    }
  
  
    @media (max-width: 500px) {
      .footer div:nth-child(2) {
        display: none;
      }
    }
  </style>