---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro'

import logos from '../images/deploy-logos.png';
import logosSmall from '../images/deploy-logos-small.png';
---


<Layout title="About Us">
  <section class="page-content">
    <div class="container">
      <h2>About Us</h2>
      <p>
        FinEdge is a digital financial technology platform. 
        It is designed to make Cross-Border Financial Transactions super fast and easy. 
        The platform provides services like payments, checkout, funds collection, fund disbursements, and more. 
        It was founded in 2020 and is based in Bangalore, India.
      </p>

      <p>
        FinEdge has leveraged technology to introduce low-cost solutions for 
        international payments for individuals, small businesses and corporates. 
        We have revolutionised the cross-border payments ecosystem through enhanced customer service, 
        extensive global reach, flexible payment options, lower fees, and reduced transaction times.
        We facilitate international transfers in a secure, fast and affordable way.
        Each cross-border transaction consists of a set of two individual domestic transactions. Settlement
         between accounts/offices is done several times a month to optimise exchange rates. 
         The transfer fees range from 0.25–3% of the transaction amount and depend on the destination.
      </p>

      <Card dark={true}>
        <h3>#1 Digital Payment Platform for International Transactions</h3>
        <p>
           
            As the economy becomes more interconnected across borders, 
            there is a growing appetite for fast, efficient and accessible payments 
            to be made in every part of the world. FinEdge is a platform that 
            enables you to do all of it, and more!



        </p>
      </Card>
      
      <h3></h3>
      <img class="logos" src={logos} alt="" />
      <img class="logos-small" src={logosSmall} alt="" />
      <!-- <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde
        doloribus, vel ipsum mollitia aliquid cumque commodi corrupti omnis
        ipsam sit earum, dolore quisquam harum qui non, quasi ea voluptatum
        debitis!
      </p> -->

  
        <h3>Join our Community</h3>
        <p>
          Join us on Social media, to share with and get help from an
          active, friendly community!
        </p>

        <ul>
          <li>💬 Say hi on our #introduce-yourself channel!</li>
          <li>
            💬 Ask our Support Squad a question in our #support-threads
            channel!
          </li>
          <li>
            💬 Share what you've been working on in our #showcase channel!
          </li>
        </ul>
   
    </div>
  </section>
</Layout>